@charset "utf-8";

// Color Branding
$green: #89a37f;
$black: #312321;
$white: #fcfdf7;
$burgundy: #624641;

$text: $black;
$family-sans-serif: "Open Sans", -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Helvetica", "Arial", sans-serif;
$navbar-background-color: transparent;
$navbar-item-color: $green;
$navbar-item-hover-color: $black;
$footer-background-color: $white;
$link: $green;

@import "~bulma/bulma.sass";

html {
  scroll-behavior: smooth;
}

a {
  font-family: "Belgrano", sans-serif;
}

.burger {
  border: none;
  background-color: transparent;
}

.navbar-menu.is-active {
  position: absolute;
  background-color: transparentize($color: $white, $amount: 0.05);
  width: 100vw;
}

.hero {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 70%,
    rgba(252, 253, 247, 1) 100%
  );
  min-height: 100vh;
}

.hero-bg {
  background-attachment: fixed;
}

.emphasis {
  color: #624641;
}

.index-contact {
  background-color: #624641;
}

.layout-bounding {
  margin: 0 auto;
  max-width: 1000px;
}

.layout-wrapper {
  background-color: #fcfdf7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-link {
  transition: background-color 0.2s ease;
}

.blog-link:not(:first-of-type) {
  border-top: 1px solid $green;
}

.blog-link:hover {
  background-color: darken($white, 5);
}

.tag {
  position: relative;
  top: 0;
  transition: top ease 0.1s;
}
.tag:hover {
  top: -1px;
}
